@page "/"

<div class="container mt-5">
    <h3 class="mb-4">Welcome to Paisa Sanyojan</h3>

    <label class="mb-2">Login</label>
    <NavLink href="/login" class="btn btn-primary">Login</NavLink>
</div>
