\@page "/Login"
@using Paisa_Sanyojan.Services
@inject NavigationManager NavigationManager
@inject Paisa_Sanyojan.Services.LoginServices LoginServices

<h3 class="mt-3">Login</h3>

<div class="form-group mt-4">
    <label for="username">Username</label>
    <input type="text" id="username" value="@Username" @oninput="(e) => Username = e.Value.ToString()" class="form-control" />
</div>

<div class="form-group mt-3">
    <label for="password">Password</label>
    <input type="password" id="password" value="@Password" @oninput="(e) => Password = e.Value.ToString()" class="form-control" />
</div>

<button class="btn btn-primary mt-3" @onclick="HandleLogin">Login</button>

<p class="text-danger mt-3">
    @ErrorMessage
</p>

@code {
    private string Username { get; set; } = string.Empty;
    private string Password { get; set; } = string.Empty;
    private string ErrorMessage { get; set; } = string.Empty;

    private async Task HandleLogin()
    {
        if (LoginServices.Login(Username, Password))
        {
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            ErrorMessage = "Invalid username or password.";
        }
    }
}